html {
  --snappshop: #b400a4;
  --white: #fff;
  --white2: #f4f4f4;
  --black: #000;
  --gray1-color: #9d9fa4;
  --gray2-color: #ddd;
  --gray3-color: #babac0;
  --gray4-color: #a0a0a5;
  --gray5-color: #a3a3a3;
  --gray6-color: #e6e6e6;
  --gray7-color: #f2f2f2;
  --modal-backdrop: rgba(64, 64, 64, 0.4);
  --nav-size-center: 72px;
  --nav-size-not-center: 112px;
  --services-height: 106px;
  --starcolor-default: #305d02;
  --starcolor-45: #3f7e00;
  --starcolor-40: #5ba839;
  --starcolor-35: #9acd32;
  --starcolor-30: #cdd614;
  --starcolor-25: #ffba00;
  --starcolor-20: #ff7800;
  --starcolor-15: #ff2717;
  --starcolor-10: #c10914;
  --light-verdun-color: rgba(48, 93, 2, 0.08);
  --verdun-green-color: #305d02;
  --bilbao-green-color: #3f7e00;
  --light-limeade-color: rgba(91, 168, 41, 0.08);
  --light-yellow-green-color: rgba(154, 205, 50, 0.08);
  --light-Barbery-color: rgba(205, 214, 20, 0.08);
  --light-selective-yellow-color: rgba(255, 186, 0, 0.08);
  --light-safety-orange-color: rgba(255, 120, 0, 0.08);
  --light-scarlet-color: rgba(255, 39, 23, 0.08);
  --light-venetian-color: rgba(193, 9, 20, 0.08);
}
